#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.pilt {
  /* width: 100px; */
  height: 40px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(0.9);
}

.golden-text {
  color: goldenrod;
}

.sum-active {
  border-color: rgb(227 6 140);
  color: rgb(227 6 140);
}

.city-active {
  text-decoration: underline;
}

.language-active {
  font-weight: bold;
}

.valitud {
  font-weight: bold;
}

.dark-theme {
  color: #fff;
  min-height: 100vh;
}

.light-theme {
  background-color: #fff;
  color: #000;
  min-height: 100vh;
}

.icon {
  height: 50px;
  margin: 5px;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.icon:active {
  transform: scale(0.9);
}